{% extends "PFApp/base.html" %}
{% load static %}



{% block main %}
<h1>Agregar un Nuevo Plan</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% for field in form %}
        {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<a href="{% url 'Planes' %}" class="btn btn-secondary">Volver a la Lista de Planes</a>
{% endblock main %}




