{% extends "PFApp/base.html"%}

{% load static %}

{% block main %}

<!DOCTYPE html>
<html>
<head>
    <title>Agregar Plan</title>
</head>
<body>
    <h1>Agregar Nuevo Plan</h1>
    <form method="POST" action="{% url 'agregar_plan' %}">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" required><br>
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="descripcion" required></textarea><br>
        <label for="precio">Precio:</label>
        <input type="number" name="precio" id="precio" step="0.01" required><br>
        <label for="periodo_facturacion">Periodo de Facturación:</label>
        <select name="periodo_facturacion" id="periodo_facturacion" required>
            <option value="mensual">Mensual</option>
            <option value="anual">Anual</option>
        </select><br>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>

{% endblock main %}